@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto',sans-serif;
    
}

.material-icons-outlined{
    color: rgb(80, 78, 78);
}


/* -----------------------------------Header----------------------------------------- */

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   padding: 15px;
   

}
.sticky-div {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 10px 0px;
}

.header-section-1{
    display: flex;
    align-items: center;

}

.header-section-1 img{
    width: 100px;
    margin-left: 15px;

}

.header i{
    padding: 0px 7px;
    cursor: pointer;
}

.header-section-2 form{
    border: 1px solid #ddd;
    border-radius: 50px;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-section-2 input{
    width: 500px;
    margin: 0;
    padding: 10;
    border-radius: 50px;
    border: none;
    
    
}

.header-section-2 button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 40px;
}

/* -----------------------------------side menu----------------------------------------- */

.main-body{
    height: calc(100vh-70px);
    display: flex;
    overflow: hidden;
    
}

.side-menu{
    height: 100vh;
    position: fixed;
    width: 230px;
    background-color: white; 
    
}

.side-menu-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;      
    
}

.side-menu-category{
    display: flex;
    align-items: center;
    padding: 12px 25px;       
    
}

.side-menu-category span{
    margin: left 16px;
}

.side-menu-category:hover{
    background: #e5e5e5;
    cursor: pointer;
}


hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

/*-------------------------------------------  video --------------------------------------------*/

.videos{
    background-color: white;
    margin-left: 230px;
    width: 100%;
    height: 100%;
    padding: 5px,5px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    
}

.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}

.video{
    width: 310px;
    margin-left: 4.2px;
    margin-right: 4.2px;
    margin-bottom: 30px;
}

.video_thumbnail{
    width: 100%;
    height: 170px;
}

.video_thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    

}
.video_thumbnail-image{
    position: relative;
}
.top-image{
    position: absolute;
    opacity: 0%;
    width: 315px;
     
}
.top-image:hover{
    opacity: 100%;
}


.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video_details{
    display: flex;
    margin-top: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a,span{
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 14px;
}

h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}

/*----------------------------------------Responsive-mobile----------------------------------------------- */
@media (max-width:425px) {
    .header-section-2{
        display: none;
    }
    .side-menu{
        display: none;
    }
    .header-section-3 .material-icons-outlined{
        display: none;
    }
    .header-section-3 .display-this{
        display: inline;
    }
    .videos{
        margin-left: 0;
        padding: 15px,15px;
    }
    
}
/*----------------------------------------Responsive-tablet----------------------------------------------- */
@media (max-width:768px){
    .header-section-2{
        display: none;
    }
    .side-menu{
        display: none;
    }
    .videos{
        margin-left: 0;
        padding: 15px,15px;
    }
    

}
/*----------------------------------------Responsive-laptop----------------------------------------------- */
@media (min-width:849px) {
    .header-section-2{
        width: 300px;
    }
    .header-section-3 .display-search{
        display: none;

}
}

/*----------------------------------------Responsive-laptop----------------------------------------------- */
@media (min-width:1024px) {
    .header-section-2{
        width: 500px;
    }
    .header-section-3 .display-search{
        display: none;
    }

}